

{% extends "base.html" %}

{% block titulo %}
    Ebil
{% endblock titulo %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}
{% block content %}
{% load widget_tweaks %}

<section id="content">
  <div class="row">
    <form class="col s12 m12 l8 offset-l2"  method="POST" enctype='multipart/form-data'>
      <table>
        <thead>
          <th>Modelo</th>
          <th>Operar/Navegar</th>
          <th>Crear</th>
          <th>Editar</th>
          <th>Eliminar</th>

        </thead>
        <tbody>
          {% for form in formset.forms %}
            <tr>
              <td>
                {{ form.id }}
                {{form.modelos}}
                
              </td>
              <td>
                
                {{form.operar}}
                <label for="id_form-{{ forloop.counter0 }}-operar"></label>
              </td>
              {% if form.modelos.value != 'reportes' and form.modelos.value != 'compras' %}
                <td>
                  {{form.crear}}
                  <label for="id_form-{{ forloop.counter0 }}-crear"></label>
                </td>
                <td>
                  {{form.editar}}
                  <label for="id_form-{{ forloop.counter0 }}-editar"></label>
                </td>
                <td>
                {{form.eliminar}}
                <label for="id_form-{{ forloop.counter0 }}-eliminar"></label>
                </td>
              {% else %}
                <td>
                  {{form.crear|attr:"disabled:disabled"}}
                  <label for="id_form-{{ forloop.counter0 }}-crear"></label>
                </td>
                <td>
                  {{form.editar|attr:"disabled:disabled"}}
                  <label for="id_form-{{ forloop.counter0 }}-editar"></label>
                </td>
                <td>
                {{form.eliminar|attr:"disabled:disabled"}}
                <label for="id_form-{{ forloop.counter0 }}-eliminar"></label>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ formset.management_form }}
      {% csrf_token %}
      <button class="btn cyan waves-effect waves-light right" id="save" name="action">Guardar
      <i class="mdi-content-save right"></i>
      </button>
    </form>
  </div>
</section>
 {% endblock %}

 {% block js %}
  <script>
   // $("tbody tr:first").find('input').each(function(){
   //  var $totalIngredientes = $('#id_form-TOTAL_FORMS');
   //  var total = parseInt($totalIngredientes.val(), 10);

   //  $('#id_form-1-operar').click(function(event) {
   //      if(this.checked) { 
   //          $('#id_form-1-crear').each(function() { 
   //              this.checked = true;           
   //          });
   //          $('#id_form-1-editar').each(function() { 
   //              this.checked = true;           
   //          });
   //      }else{
   //          $('#id_form-1-crear').each(function() {
   //              this.checked = false;                       
   //          });
   //          $('#id_form-1-editar').each(function() {
   //              this.checked = false;                       
   //          });      
   //      }
   //  });
    

  });
   </script>

 {% endblock %}


 
