{% extends "base.html" %}
{% block titulo %}
    Ebil
{% endblock titulo %}

{% block content %}

{% load staticfiles %}
         

          

  <!--chart dashboard start-->
                    <div id="chart-dashboard">
                        <div class="row">
                              <div class="col s12 m3 l3">
                                <div class="card">
                                    <div class="card-move-up green waves-effect waves-block waves-light cuadro-lateral">
                                        <div class="move-up">
                                            <p class="margin white-text">Configuracion</p>
                                            <i class="mdi-action-settings Large img-dashboard"></i>
                                            
                                        </div>
                                    </div>
                                    <div class="card-content  teal darken-2">
                                        <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                                        <div class="line-chart-wrapper">
                                            <p class="white-text"> Configuracion</p>
                                            
                                        </div>
                                    </div>
                         
                                </div>
                                <div class="card">
                                    <div class="card-move-up teal waves-effect waves-block waves-light cuadro-lateral">
                                        <div class="move-up">
                                            <p class="margin white-text">Clientes</p>
                                            <i class="mdi-social-people Large img-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="card-content  teal darken-2">
                                        <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                                        <div class="line-chart-wrapper">
                                            <p class="margin white-text">Revenue by country</p>
                                           
                                        </div>
                                    </div>
                         
                                </div>
                            </div>
                            <div class="col s12 m8 l6">
                                <div class="card">
                                    <div class="card-move-up waves-effect waves-block waves-light">
                                        <div class="move-up cyan darken-1 cuadro">
                                            <div>
                                                <span class="chart-title white-text"></span>
                                            </div>
                                            <div class="trending-line-chart-wrapper">
                                                <img class=" responsive-img" src="{% static "images/facturar.png"%}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                                    
                                     
                                    
                                    </div>


                                </div>
                            </div>

                            <div class="col s12 m4 l3">
                                <div class="card">
                                    <div class="card-move-up green waves-effect waves-block waves-light">
                                        <div class="move-up">
                                            <p class="margin white-text">Reportes</p>
                                           <i class="mdi-editor-border-color Large img-dashboard"></i>
                                        </div>
                                    </div>
                                    <div class="card-content  teal darken-2">
                                        <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                                        <div class="line-chart-wrapper">
                                            <p class="margin white-text">Revenue by country</p>
                                          
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="card">
                                    <div class="card-move-up teal waves-effect waves-block waves-light">
                                        <div class="move-up">
                                            <p class="margin white-text">Usuarios</p>
                                            <canvas id="trending-radar-chart" height="141" width="372" style="width: 372px; height: 141px;"></canvas>
                                        </div>
                                    </div>
                                    <div class="card-content  teal darken-2">
                                        <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                                        <div class="line-chart-wrapper">
                                            <p class="margin white-text">Revenue by country</p>
                                          
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--chart dashboard end-->

                    <!-- //////////////////////////////////////////////////////////////////////////// -->

                    <!--card stats start-->
                    <div id="card-stats">
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <div class="card">
                                    <div class="card-content  green white-text">
                                        <p class="card-stats-title"> Almacenes</p>
                                        <i class="mdi-action-store Large"></i>
                                    </div>
                                    <div class="card-action  teal darken-2">
                                        
                                            <p class="margin white-text">Revenue by country</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l3">
                                <div class="card">
                                    <div class="card-content teal white-text">
                                        <p class="card-stats-title">Compras</p>
                                        <i class="mdi-action-shopping-cart Large"></i>
                                    </div>
                                    <div class="card-action teal darken-2">
                                        <p class="margin white-text">Revenue by country</p>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col s12 m6 l3">
                                <div class="card">
                                    <div class="card-content blue-grey white-text">
                                        <p class="card-stats-title">Proveedores</p>
                                        <i class="mdi-maps-local-shipping Large"></i>
                                    </div>
                                    <div class="card-action teal darken-2">
                                        <p class="margin white-text">Revenue by country</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6 l3">
                                <div class="card">
                                    <div class="card-content green white-text">
                                        <p class="card-stats-title"></i> Bancarizacion</p>
                                        <i class="mdi-action-account-balance-wallet Large"></i>
                                    </div>
                                    <div class="card-action  teal darken-2">
                                        <p class="margin white-text">Revenue by country</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!--card stats end-->


    
{% endblock content %}