{% extends "base.html" %}

{% block titulo %}
  login
{% endblock titulo %}

{% block content %}
{% load staticfiles %}

{% load widget_tweaks %}
<div id="login-page" class="row">
    <div class="col s12 m12 l3 z-depth-4 offset-l4 card-panel">
      <form class="login-form" method="post"> {% csrf_token %}
        <div class="row">
          <div class="input-field col s12 center">
            <img src="{% static "images/facturar.png"%}" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Ingresa</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
             {{ form.username|add_error_class:"validate invalid" }}
            <label for="username" data-error="{{form.errors.username|removetags:"ul li"}}" data-success="right">Nombre de usuario</label>
            
           
          </div>
        </div>
      
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            {{ form.password }}
            <label for="password">Contraseña</label>
            {% if form.errors.password %}
                 <div class="errors">
                  <small class="error">{{form.errors.password}}</small>
                </div>
            
            {% endif %}
          </div>
        </div>
     
        <div class="row">
          <div class="input-field col s12">
      
            <button class="btn waves-effect cyan waves-light col s12">Login</button>
          </div>
        </div>
      
      </form>
    </div>
  </div>



{% endblock content %}