{% extends "base.html" %}

{% block titulo %}
  login
{% endblock titulo %}

{% block content %}
{% load staticfiles %}

{% load widget_tweaks %}
<div id="login-page" class="row">
    <div class="col l4 z-depth-4  offset-l4 card-panel">
      <form class="login-form" method="post"> {% csrf_token %}
      {% if form.non_field_errors%}
                <div class="alert alert-danger" role="alert">
                  {{form.non_field_errors|removetags:"ul li"}}
                </div>
                {% endif %}
        <div class="row">
          <div class="input-field col s12 center">
            <img src="{% static "images/facturar.png"%}" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Ingresa</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field has-error col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <span class="help-block">{{ form.errors.username|removetags:'ul li' }}</span>
             {{ form.username|add_error_class:"invalid" }}
            <label for="username" >Nombre de usuario</label>
            
           
          </div>
        </div>
      
        <div class="row margin">
          <div class="input-field has-error col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <span class="help-block">{{ form.errors.password|removetags:'ul li' }}</span>
            {{ form.password|add_error_class:"invalid" }}
            <label for="password">Contraseña</label>
           
          </div>
        </div>

         <div class="row ">
          <div class="input-field col s2">
            
            {{ form.captcha }}
           
            
          </div>
        </div>
     
        <div class="row">
          <div class="input-field col s12">
      
            <button type="submit" class="btn waves-effect cyan waves-light col s12">Login</button>
          </div>
        </div>
      
      </form>
    </div>
  </div>



{% endblock content %}