

{% extends "base.html" %}

{% block titulo %}
    Ebil
{% endblock titulo %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}
{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}

<section id="content">
  <div class="row">
    <form class="col s12 m12 l8 offset-l2"  method="POST" action="/register/" enctype='multipart/form-data'>
      {% if user_form.non_field_errors%}
        <div class="alert alert-danger" role="alert">
          {{user_form.non_field_errors|removetags:"ul li"}}
        </div>
        {% endif %}
      <div class="card-panel">
        <h3 class="header2">Registro de usuario</h3>
          {% csrf_token %} 
            <fieldset>
            <legend>Datos personales</legend>
            <div class="row">
              <div class=" col s6 ">
              <div class="input-field has-error">
                <span class="help-block">{{ user_form.errors.nombre|removetags:'ul li' }}</span>
                {{ user_form.nombre|add_error_class:"invalid" }}
                <label for="emails">{{ user_form.nombre.label }}</label>
                </div>
                <div class="input-field has-error">
                <span class="help-block">{{ user_form.errors.p_apellido|removetags:'ul li' }}</span>
                {{ user_form.p_apellido|add_error_class:"invalid" }}
                <label for="emails">{{ user_form.p_apellido.label }}</label>
                </div>
                <div class="input-field has-error">
                <span class="help-block">{{ user_form.errors.s_apellido|removetags:'ul li' }}</span>
                {{ user_form.s_apellido|add_error_class:"invalid" }}
                <label for="emails">{{ user_form.s_apellido.label }}</label>
                </div>
              </div>
              <div class="file-field input-field col s6 has-error"> 
                <div class="btn btn-file">
                  <span>{{ user_form.avatar.label }}</span>
                  {{ user_form.avatar|add_error_class:"invalid" }}  

                </div>

                <!-- <div id="im"></div> -->
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                  <img id="image_upload_preview" style="width:120px" src="{% static "images/user.png"%}" alt="your image" />

                  <span class="help-block">{{ user_form.errors.avatar|removetags:'ul li' }}</span>

                  
                </div>
              </div>
            </div>
            


            </fieldset>
            <fieldset>
            <legend>Datos de usuario</legend>
            <div class="row">
              <div class="input-field col s6 has-error">
                <span class="help-block">{{ user_form.errors.username|removetags:'ul li' }}</span>
                {{ user_form.username|add_error_class:"invalid" }}
                <label for="emails">{{ user_form.username.label }}</label>
              </div>
            </div>

            <div class="row">
               <div class="input-field col s6 has-error">
                <span class="help-block">{{ user_form.errors.password|removetags:'ul li' }}</span>
              {{ user_form.password|add_error_class:"invalid" }}
                <label for="email">{{ user_form.password.label }}</label>
              </div>

              <div class="input-field col s6 has-error">
                <span class="help-block">{{ user_form.errors.password2|removetags:'ul li' }}</span>
                {{ user_form.password2|add_error_class:"invalid" }}
                <label for="emails">{{ user_form.password2.label }}</label>
              </div>

             
            </div> 

            <div class="row">
              <div class="input-field col s6 has-error">
                <span class="help-block">{{ user_form.errors.rol|removetags:'ul li' }}</span>
                {{ user_form.rol|add_error_class:"invalid" }}
                <label for="emails">{{ user_form.rol.label }}</label>
              </div>
            </div>
            </fieldset>

                  
        <div class="row">  
        <div class="input-field col s6">
          <a href="/list_user" class="btn light-green waves-effect waves-light right"><i class="mdi-content-undo left"></i> Volver  Atras</a>
        </div>                 
          <div class="input-field col s6">
            

            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Guardar
              <i class="mdi-content-send right"></i>
            </button>
          </div> 
        </div>

      </div>
    </form>
  </div>
</section>
 {% endblock %}


 
