{% extends "base.html" %}
{% block titulo %}
    Ebil
{% endblock titulo %}

{% block content %}

{% load staticfiles %}
 
<div class="col s12 m3 l6">
  <div class="card">
      <div >
      <a href="/r" class="linka">
      </a>  
      </div>
      <div class="card-action  teal darken-2">
      <p class="margin white-text">LIBRO DE COMPRAS Y VENTAS</p>
      </div>
		<div id="card-stats">
      <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content cuadros green white-text cuadro-top waves-effect waves-block waves-light">
                      <a href="/libro_compras" class="linka">
                      <div class="centraricon2">
          						<i class="mdi-action-assignment Large tomag"></i>
                      </div>
                     </a>
                    </div>
                    <div class="card-action teal darken-2">
                        <p class="margin white-text">Libro de Compras</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content cuadros teal white-text cuadro-top waves-effect waves-block waves-light">
                      <a href="/libro_ventas" class="linka">
                      <div class="centraricon2">
                      <i class="mdi-action-assignment Large tomag"></i>
                      </div>
                     </a>
                    </div>
                    <div class="card-action teal darken-2">
                        <p class="margin white-text">Libro de Ventas</p>
                    </div>
                </div>
            </div>                             
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content cuadros blue-grey white-text cuadro-top waves-effect waves-block waves-light">
										<a href="/rep_ventaMes" class="linka">
                      <div class="centraricon2">
            					<i class="mdi-action-assignment Large tomag"></i>
                      </div>
                    </a>
                    </div>
                    <div class="card-action teal darken-2">
                        <p class="margin white-text">Ventas mensuales</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content cuadros green white-text cuadro-top waves-effect waves-block waves-light">
                      <a href="/rep_almacenes" class="linka">
                        <div class="centraricon2">
            						<i class="mdi-action-assignment Large tomag"></i>
                        </div>
                      </a>
                    </div>
                    <div class="card-action  teal darken-2">
                        <p class="margin white-text">Reporte de almacenes</p>
                    </div>
                </div>
            </div>    
      </div>
    </div>
  </div>
</div>

<div class="col s12 m4 l3">
  <div class="card">
    <div class="card-action  teal darken-2">
    <p class="margin white-text">REPORTES RÁPIDOS</p>
    </div>
	<div class="card">
	<div id="card-stats">
    <div class="row">                           
      <div class="col s12 m4 l3">
        <div class="card">
          <div class="card-content cuadro2 blue-grey white-text cuadro-top waves-effect waves-block waves-light">
            <a href="/reporte_venta/" class="linka">
            <div class="centraricon2">
            <i class="mdi-action-assignment Large tomag"></i>
            </div>
            </a>
          </div>
          <div class="card-action teal darken-2">
            <p class="margin white-text">Ventas</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card">
          <div class="card-content cuadros teal white-text cuadro-top waves-effect waves-block waves-light">
            <a href="/reporte_compra/" class="linka">
            <div class="centraricon2">
            <i class="mdi-action-assignment Large tomag"></i>
            </div>
            </a>
          </div>
          <div class="card-action teal darken-2">
            <p class="margin white-text">Compras</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l3">
        <div class="card">
          <div class="card-content cuadro2 green white-text cuadro-top waves-effect waves-block waves-light">
           
          <a href="/reporte_almacen/" class="linka">
            <div class="centraricon2">
            <i class="mdi-action-assignment Large tomag"></i>            
            </div>
          </a>
          </div>
          <div class="card-action  teal darken-2">
              <p class="margin white-text">Almacenes</p>
          </div>
        </div>
      </div> 
      <div class="col s12 m4 l3">
        <div class="card">
          <div class="card-content cuadro2 green white-text cuadro-top waves-effect waves-block waves-light">
           
          <a href="/notsnocontabls/" class="linka">
            <div class="centraricon2">
            <i class="mdi-action-assignment Large tomag"></i>            
            </div>
          </a>
          </div>
          <div class="card-action  teal darken-2">
              <p class="margin white-text">EERR</p>
          </div>
        </div>
      </div>       
    </div>
  </div>
  </div>
  </div>
</div>

    
{% endblock content %}