

{% extends "base.html" %}

{% block titulo %}
    Ebil
{% endblock titulo %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}
{% block content %}
{% load widget_tweaks %}

<section id="content">
  <div class="row">
    <form class="col s12 m12 l8 offset-l2"  method="POST" enctype='multipart/form-data'>
      {% if form.non_field_errors%}
        <div class="alert alert-danger" role="alert">
          {{form.non_field_errors|removetags:"ul li"}}
        </div>
        {% endif %}
      <div class="card-panel">
        <h3 class="header2">Cambiar contraseña</h3>
          {% csrf_token %} 
            <span>Introduzca una nueva contraseña para el usuario </span><b>{{user_data.username}}</b>
            <div class="row">
              <div class="input-field col s6 has-error">
                <span class="help-block">{{ form.errors.newpassword1|removetags:'ul li' }}</span>
                {{ form.newpassword1|add_error_class:"invalid" }}
                <label for="emails">{{ form.newpassword1.label }}</label>
              </div>
            </div>

            <div class="row">
               <div class="input-field col s6 has-error">
                <span class="help-block">{{ form.errors.newpassword2|removetags:'ul li' }}</span>
              {{ form.newpassword2|add_error_class:"invalid" }}
                <label for="email">{{ form.newpassword2.label }}</label>
              </div>

            </div> 
             
        <div class="row">  
        <div class="input-field col s6">
          <a href="/list_user" class="btn light-green waves-effect waves-light right"><i class="mdi-content-undo left"></i> Volver  Atras</a>
        </div>                 
          <div class="input-field col s6">
            

            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Guardar
              <i class="mdi-content-send right"></i>
            </button>
          </div> 
        </div>

      </div>
    </form>
  </div>
</section>
 {% endblock %}


 
