{% extends "base.html" %}
{% block content %}
<div id="chart-dashboard">  
   <div class="row">
   	
   		<div class="card-panel">
			<div class="card-content"> 
	            	<div class='col s12 m8 l3'>
		            	<span class="title">codigo</span>
	                    <p>{{object.codigo}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">razonSocial</span>
	                    <p>{{object.razonSocial}}
	                      <br>
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">nit</span>
	                    <p>{{object.nit}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">Direccion</span>
	                    <p>{{object.Direccion}}
	                      <br> 
	                    </p>
		            </div>
					<div class='col s12 m8 l3'>
		            	<span class="title">telefono1</span>
	                    <p>{{object.telefono1}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">telefono2</span>
	                    <p>{{object.telefono2}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">telefono3</span>
	                    <p>{{object.telefono3}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">contactos</span>
	                    <p>{{object.contactos}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">rubro</span>
	                    <p>{{object.rubro}}
	                      <br> 
	                    </p>
		            </div>
					<div class='col s12 m8 l3'>
		            	<span class="title">categoria</span>
	                    <p>{{object.categoria}}
	                    <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">UbucacionGeo</span>
	                    <p>{{object.UbucacionGeo}}
	                    <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">fecha</span>
	                    <p>{{object.fecha}}
	                    <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">fecha2</span>
	                    <p>{{object.fecha2}}
	                    <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">textos</span>
	                    <p>{{object.textos}}
	                    <br> 
	                    </p>
		            </div>	
		            <div class='col s12 m8 l3'>
		            	<span class="title">texto2</span>
	                    <p>{{object.texto2}}
	                    <br> 
	                    </p>
		            </div>
        		</div>
        </div>
    </div>
	  {{ object.codigo }}
	  {{ object.razonSocial }}
	  {{ object.nit }}
	  {{ object.Direccion }}
	  {{ object.telefono1 }}  
	  {{ object.telefonos2 }}
	  {{ object.telefonos3 }}
	  {{ object.contacto }}
	  {{ object.rubro }}
	  {{ object.categoria }} 
	  {{ object.UbucacionGeo }}
	  {{ object.fecha }}
	  {{ object.fecha2 }}
	  {{ object.textos }}
	  {{ object.textos2 }}	
</div> 

{% endblock content %}