{% extends "base.html" %}

{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}

{% block content %}
<section id="content">
<div id="chart-dashboard">  
<div class="container">
{% if clientes_role.crear %}
<div class="row">
    <div class='input-field col s2'>
        <a href="/CrearCliente" class="btn waves-effect teal waves-light add-another" id="add_id_recipe__dot__recipe__braceleft__profile__braceright__"><i class="mdi-content-add left"></i>Agregar</a>
    </div> 
    <div class="col s12 m2">
      <p>
        <a href="/cliente_import/" class="btn waves-effect light-green waves-light"><i class="mdi-file-file-upload left"></i>importar excel</a>
        
      </p>
    </div>
</div>
{% endif %}
<div class="row"> 
  <form class="col m5 s12" method="get">
    <div class="row">
      <div class="col s6">
        <div class="input-field">
          <input type="text" class="form-control" name="q" >
          <label for="">Buscar</label>

        </div><!--end .form-group -->
      </div>
      <div class="col s6">

        <div class="input-field">
         <button class="btn-floating  waves-effect teal waves-light " type="submit"><i class="md mdi-action-search"></i></button>

       </div>
     </div> 
   </div>
 </form>
</div>
<div class="row">
<div class="col s12 m8 l12">  
<table class="responsive-table">
  <thead>
    <tr>
        <th data-field="id">codigo</th>
        <th>Razon Social</th>
        <th data-field="price">nit</th>
        <th data-field="name">Direccion</th>
    </tr>
  </thead>
    <tbody>
    {% for clien in cliente %}
    <tr>
      <td>{{ clien.codigo }}</td>
      <td>{{clien.razonsocial}}</td>
      <td>{{ clien.nit }}</td>
      <td>{{ clien.direccion }}</td>

      <td>

        <a href="/detalle_cliente/{{ clien.id }}" class="btn-floating waves-effect tooltipped teal waves-light " data-position="top" data-delay="50" data-tooltip="Detalle"><i class="mdi-action-search left"></i></a>
        {% if clientes_role.editar %}
        <a href="/editar_cliente/{{ clien.id }}" class="btn-floating waves-effect tooltipped light-green waves-light "  data-position="top" data-delay="50" data-tooltip="Editar"><i class="mdi-editor-mode-edit left"></i></a>
        {% endif %}
        {% if clientes_role.eliminar %}
        <a href="#modal{{clien.id}}" class="btn-floating waves-effect tooltipped modal-trigger red waves-light" data-position="top" data-delay="50" data-tooltip="Eliminar"><i class="mdi-action-delete left"></i></a>
        {% endif %}

        <div id="modal{{clien.id}}" class="modal teal">
          <div class="modal-content">
            <p class="img-dashboard">Esta seguro que quiere eliminar "{{clien.codigo}}"</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Cancelar</a>
            <a href="/delete_cliente/{{clien.id}}" class="waves-effect waves-green btn-flat modal-action modal-close">Aceptar</a>
          </div>
        </div>

      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% include "_pagination.html" %}

</div>
</div>
</section>
{% endblock content %}
{% block js %}

<script>
  
  $(document).ready(function() {
    $( '.add-another' ).click(function(e) {
        e.preventDefault(  );
        showAddAnotherPopup( $( this ) );
    });
});

/* Credit: django.contrib.admin (BSD) */

function showAddAnotherPopup(triggeringLink) {
    /*

    Pause here with Firebug's script debugger.

    */
    var name = triggeringLink.attr( 'id' ).replace(/^add_/, '');
    name = id_to_windowname(name);
    href = triggeringLink.attr( 'href' );

    if (href.indexOf('?') == -1) {
        href += '?popup=1';
    } else {
        href += '&popup=1';
    }

    href += '&winName=' + name;

    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();

    return false;
}

function dismissAddAnotherPopup(win, newId, newRepr) {
    // newId and newRepr are expected to have previously been escaped by
    newId = html_unescape(newId);
    newRepr = html_unescape(newRepr);
    var name = windowname_to_id(win.name);
    var elem = document.getElementById(name);

    if (elem) {
        if (elem.nodeName == 'SELECT') {
            var o = new Option(newRepr, newId);
            elem.options[elem.options.length] = o;
            o.selected = true;
        }
    } else {
        console.log("Could not get input id for win " + name);
    }

    win.close();
}

function html_unescape(text) {
 // Unescape a string that was escaped using django.utils.html.escape.
    text = text.replace(/</g, '');
    text = text.replace(/"/g, '"');
    text = text.replace(/'/g, "'");
    text = text.replace(/&/g, '&');
    return text;
}

// IE doesn't accept periods or dashes in the window name, but the element IDs
// we use to generate popup window names may contain them, therefore we map them
// to allowed characters in a reversible way so that we can locate the correct
// element when the popup window is dismissed.
function id_to_windowname(text) {
    text = text.replace(/\./g, '__dot__');
    text = text.replace(/\-/g, '__dash__');
    text = text.replace(/\[/g, '__braceleft__');
    text = text.replace(/\]/g, '__braceright__');
    return text;
} 

function windowname_to_id(text) {
    return text;
}
</script>
    
{% endblock js %}

