{# {% csrf_token %} 
codigo_item 
	codigo_fabrica 
	almacen 
	grupo 
	subgrupo 
	descripcion 
	carac_especial_1 
	carac_especial_2 
	cantidad 
	saldo_min 
	proveedor 
	imagen 
	unidad_medida 
	costo_unitario  {% for producto in object_list %}    {{producto.codigo_item}}   {{producto.codigo_fabrica}}   {{producto.almacen}}   {{producto.direccion}}   {{producto.telefono1}}   {{producto.telefono2}}   {{producto.contactos}}   {{producto.grupo}}   {{producto.grupo}}   {{producto.subgrupo}}   {{producto.descripcion}}   {{producto.carac_especial_1}}   {{producto.carac_especial_2}}    {{producto.cantidad}}   {{producto.saldo_min}}   {{producto.proveedor}}  {{producto.imagen}}   {{producto.unidad_medida}}   {{producto.costo_unitario}}  
{% endblock %}

	 #}