{% extends "base.html" %}
{% block titulo %}
    Ebil
{% endblock titulo %}

{% block content %}

{% load staticfiles %}
         
  <!--chart dashboard start-->
<div class="col s12 m3 l3">
  <div class="card"> 
    <div class="card-content  teal darken-2">
      <div class="line-chart-wrapper">
      <a href="/razonsocial" class="linka">
        <p class="margin white-text"> datos de la empresa</p>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m3 l3">
  <div class="card"> 
    <div class="card-content  teal darken-2">
      <div class="line-chart-wrapper">
      <a href="/" class="linka">
        <p class="margin white-text"> generacacion de certificado</p>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m3 l3">
  <div class="card"> 
    <div class="card-content  teal darken-2">
      <div class="line-chart-wrapper">
      <a href="/" class="linka">

        <p class="margin white-text">clientes</p>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m3 l3">
  <div class="card"> 
    <div class="card-content  teal darken-2">
      <div class="line-chart-wrapper">
      <a href="/" class="linka">

        <p class="margin white-text">almacenes</p>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m3 l3">
  <div class="card"> 
    <div class="card-content  teal darken-2">
      <div class="line-chart-wrapper">
      <a href="/" class="linka">

        <p class="margin white-text">proveedores</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}