{% extends "base.html" %}
{% block titulo %}
    Ebil
{% endblock titulo %}

{% block content %}

{% load staticfiles %}
         
  <!--chart dashboard start-->
<div class="row">
  <div class="col s12 m3 l3">
    <div class="card" > 
      <div class="card-content  teal darken-2" style="height:10%;">
        <div class="line-chart-wrapper">
        <a href="/empresa" class="linka">
          <p class="margin white-text"> Datos de la empresa</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m3 l3">
    <div class="card"> 
      <div class="card-content  teal darken-2" style="height:10%;">
        <div class="line-chart-wrapper">
        <a href="/lista_datosdosificacion" class="linka">
          <p class="margin white-text"> Datos dosificacion</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m3 l3">
    <div class="card"> 
      <div class="card-content  teal darken-2" style="height:10%;">
        <div class="line-chart-wrapper">
        <a href="/formato_factura" class="linka">

          <p class="margin white-text">Formato factura</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card"> 
      <div class="card-content  teal darken-2" style="height:10%;">
        <div class="line-chart-wrapper">
        <a href="/edit_alamacen_campos" class="linka">

          <p class="margin white-text">Almacen</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m3 l3">
    <div class="card"> 
      <div class="card-content  teal darken-2" style="height:10%;">
        <div class="line-chart-wrapper">
        <a href="/edit_proveedcamps" class="linka">

          <p class="margin white-text">Proveedores</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card"> 
      <div class="card-content  teal darken-2" style="height:10%;">
        <div class="line-chart-wrapper">
        <a href="/edit_clientcamp" class="linka">

          <p class="margin white-text">Clientes</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card"> 
      <div class="card-content  teal darken-2" style="height:10%;">
        <div class="line-chart-wrapper">
        <a href="/edit_factCamp" class="linka">

          <p class="margin white-text">Factura</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m3 l3">
    <div class="card"> 
      <div class="card-content  teal darken-2" style="height:10%;">
        <div class="line-chart-wrapper">
        <a href="/listarSucursal" class="linka">

          <p class="margin white-text">Sucursales</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col s12 m6 l6">
  <div class="card"> 
    <div class="card-content  teal darken-2" style="height:10%;">
      <div class="line-chart-wrapper">
      <a href="/listar_actividad" class="linka">

        <p class="margin white-text">Actividades</p>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m6 l6">
  <div class="card"> 
    <div class="card-content  teal darken-2" style="height:10%;">
      <div class="line-chart-wrapper">
      <a href="/validador" class="linka">

        <p class="margin white-text">Validador</p>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}