{% extends "base.html" %}

{% block titulo %}
Ebil
{% endblock titulo %}
{% block menu %}
{% include "menu.html" %}
{% endblock menu %}
{% block content %}
{% load widget_tweaks %}

<section id="content">
  <div class="row">
    <form class="col s12 m12 l8 offset-l2"  method="POST" enctype='multipart/form-data'>
      <div class="card-panel">
        <h3 class="header2">Detalla actividades</h3>
        <div class="row">
          {% csrf_token %} 

          <div class="row">
            <div class="input-field col s6 has-error">
              <div class="input-field col s6 has-error">
              <input disabled type="text" value="{{Actividad.actividad}}">
                <label for="emails">actividad</label>
              </div>
            </div>

        </div>

  </div>
<div class="row">                   
  <div class="col s12 m6 l6 center-align">
    <a href="/listar_actividad" class="btn light-green waves-effect waves-light right"><i class="mdi-content-undo left"></i> Volver  Atras</a>
    <p>
    </p>
  </div>
</div>
</div>

</div>
</form>
</div>
</section>
{% endblock %}

