{% extends "base.html" %}
{% load staticfiles %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}

{% block content %}

<section id="content">

  <div id="chart-dashboard">  

    <div class="container">
      <div class="row"> 
        <form class="col s12 m12 l8 offset-l2"  method="POST">{% csrf_token %}
        <div class="card-panel">
        
        <h4 class="header2">Libro de Compras</h4>
        <div class="row">
        <div class="col s3">
          <div class="input-field">
            <select id="myselect" name="mes">
              <option value="1">Enero</option>
              <option value="2">Febrero</option>
              <option value="3">Marzo</option>
              <option value="4">Abril</option>
              <option value="5">Mayo</option>
              <option value="6">Junio</option>
              <option value="7">Julio</option>
              <option value="8">Agosto</option>
              <option value="9">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select>
          </div><!--end .form-group -->
        </div>
        <div class="col s3">
          <div class="input-field">
            <select id="myselect" name="anio">
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            
            </select>
          </div><!--end .form-group -->
        </div>
        <div class="col s6">
          
          <button type="submit" class="img-button" name="excel">
            <img class="imagenpdf responsive-img " src="{{ STATIC_URL }}/media/excel-xls-icon.png">
          </button>
          <button type="submit" class="img-button" name="pdf">
            <img class="imagenpdf responsive-img " src="{{ STATIC_URL }}/media/pdf-icon.png">
          </button>
          <button type="submit" class="img-button" name="txt">
            <img class="imagenpdf responsive-img " src="{{ STATIC_URL }}/media/txt-icon.png">
          </button>

        </div>
        </div>


        </form>
      </div>

    
    </div>
  </div>
</section>
{% endblock content %}