{% extends 'base.html' %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}
{% block content %}

<section id="content">
    <div class="row">
      <div class="col s12 m12 l8 offset-l2">
        <div class="card-panel">
        <h3 class="header2">Estado de resultados no contable:</h3>
          <form action="/notsnocontabls/" method='POST' name="myform" onsubmit="target_popup(this)">{% csrf_token %}
            <div class="row">
              <div class="col s3">
                <div class="input-field">
                  <select id="myselect" name="mes">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                  </select>
                </div><!--end .form-group -->
              </div>
              <div class="col s3">
              <div class="input-field">
                  <select id="myselect" name="anio">
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                  </select>
                </div><!--end .form-group -->
              </div>

            </div> 
            <div class="row">
              <div class="input-field col s6 has-error input-codigo"> 
                <label for="">Inicia Otros Gastos reailzados:</label>
                <input type="number" step="0.01"  required = "required" name='gastos' id=''>
              </div>
            </div>
              <br>
              <button class="waves-effect waves-light btn" type="submit" name="action">Aceptar</button>
          </form>
        </div>
      </div>
    </div>
</section>

{% endblock content %}

{% block js %}
  <script type="text/javascript">
    function submitform()
      {
        document.myform.submit();
      }

      var fullDate = new Date();
      var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : (fullDate.getMonth()+1);
      
      var currentDate =  fullDate.getFullYear()+ "-" + twoDigitMonth + "-" + fullDate.getDate();

      console.log(currentDate);
      $("#add_fecha").val(currentDate);

      function target_popup(form) {
          window.open('', 'formpopup', 'width=800,height=600,resizeable,scrollbars');
          form.target = 'formpopup';
      }
  </script>
{% endblock js %}