{% load staticfiles %}
{% load report_filter %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
  <style>
  body {   font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; }
   .center-text{
    text-align:center;
   }
   .text-size{
    font-size: 12px;

   }
   .border{
    border:solid 1px;
   }
   
   @page {
    margin: 1cm;
    
    size: 21cm, 28cm;
  }
  </style>
</head>
<body>
  







<section id="content">
        <!--start container-->
        <div class="container" >
          <div id="invoice">
           <table >
                <tr style="border:none;"></tr>
                <tr style="border:none;">
                  <td class="center-text text-size" >
                  <br>

                    <img  src="media/{{empresa.logo}}" style="zoom: 50%;" /><br>
                    <b>{{empresa.razon_social|upper}}</b> <br>
                    <span>{{sucursal}}</span> <br>
                    <span>{{sucursal.direccion|upper}}</span> <br>
                    <span>TELF.: {{empresa.telefono|upper}}</span><br>
                    <b></b>
                  </td>
                  <td class="center-text">

                   <!--  <b style="font-size: 20px;">{{formato.frases_titulo|upper}}</b> <br> -->
                    <!-- <b>{{tipo_compra|upper}}</b> -->
                  </td>
                  <td   style="padding:2.5px; font-size: 12px;" width="200">
                    
                    <table style="border:1px solid black; ">
                    <tbody>
                      <tr style="border:none;">
                        <td><b>NIT:</b></td>
                        <td><b>{{empresa.nit}}</b></td>
                      </tr>
                      <tr style="border:none;">
                        <td><b>No FACTURA:</b></td>
                        <td><b>{{nro_factura}}</b></td>
                      </tr>
                      <tr style="border:none;">
                        <td><b>No AUTORIZACION:</b></td>
                        <td><b>{{numero_autorizacion}}</b></td>
                      </tr>
                      <tr style="border-right:none; border-left:none; border-bottom:none;">
                        <td colspan="2" style="text-align:center; font-size: 15px; padding:  2px;">
                          <b>ORIGINAL</b>
                        </td>
                        
                        
                      </tr>
                      <tr style="border:none;">
                        <td colspan="2" style="text-align:center; padding:  -5px;"><span style=" font-size: 12px; ">{{actividad}}</span></td>
                      </tr>
                    </tbody>
                    </table>
                    <br>
                    
                  </td>
                  
                  
                </tr>
                <tr>
                  <td colspan="3" class="center-text" style=" padding: 5px; ">

                    <b style="font-size: 20px;">{{formato.frases_titulo|upper}}</b> <br>
                    <!-- <b>{{tipo_compra|upper}}</b> -->
                  </td>
                </tr>
              
              </table>
              <table style="border:1px solid black; padding: 5px; ">
                <tr style="border:none;">
                  <td class="text-size" width="305" >
                  <br>
                  <b>Lugar y Fecha: {{empresa.municipios}} - {{empresa.departamento}}, {{fecha}}</b><br>
                  <b>Señor(es): {{razon_social}}</b> <br>
                  
                  </td>
                  
                  <td class="text-size center-text" >
                    <b>NIT/CI: {{nit}}</b> 
                  </td>
                  

                </tr>
              </table>
           
              
            </div>


            <div class="invoice-table">
              <div class="row">
                <div class="col s12 m12 l12">

          
          <table style="border:1px solid black;" class="text-size">
          <thead>
            <tr style="border-botton:1px; border-right:none; border-left:none; padding: 4px;">
              <th data-field="item">Cod Item</th>
              <th data-field="item">Cantidad</th>
              <th data-field="item">Unidad</th>
              <th data-field="item">Detalle</th>
              <th data-field="uprice">P. U.</th>
              
              <th data-field="price">Total</th>
              {% if factura_campos.descuento_usar %}
              <th>Descuentos</th>
              {% endif %}
              {% if factura_campos.recargo_usar %}
              <th>Recargos</th>
              {% endif %}
              {% if factura_campos.ice_usar %}
              <th>ICE</th>
              {% endif %}
              {% if factura_campos.exentos_usar %}
              <th>Excentos</th>
              {% endif %}
              <th>Sujeto a DF</th>
            </tr>
          </thead>
          <tbody>
            {%  for d in detalle %}
            <tr style="border:none; padding: 5px; ">
              <td >{{d.item.codigo_item}}</td>
              <td>{{d.cantidad}}</td>
              <td>{{d.item.unidad_medida}}</td>
              <td>{{d.item.descripcion|truncatechars:20}}</td>
              <td>{{d.item.precio_unitario}}</td>
              <td>{{d.subtotal}}</td>

              {% if factura_campos.descuento_usar %}
              <td>{{d.descuento}} 
                {% if not d.descuento == 0 %}
                  {{d.tipo_descuento}}
                {% endif %}
              </td>
              {% endif %}

              {% if factura_campos.recargo_usar %}
              <td>{{d.recargo}} 
                {% if not d.recargo == 0 %}
                  {{d.tipo_recargo}}
                {% endif %}
              </td>
              {% endif %}

              {% if factura_campos.ice_usar %}
              <td>{{d.ice}}</td>
              {% endif %}

              {% if factura_campos.exentos_usar %}
              <td>{{d.excentos}}</td>
              {% endif %}

              <td>{{d.scf}}</td>
            </tr>
            {% endfor %}

            {% for value in detalle|length|range:7 %}
               <tr style="border:none; padding: 5px; ">
               </tr>
            {% endfor %}
            <tr style="border-botton:1px;  border-left:none;  padding: 0px 4px;" >
              <td colspan="{{total_campos}}" class="white">
                <br><b> Son: {% texto total %} Bolivianos</b>
              </td>
              <td ><br><b>Total:</b></td>
              <td  id="sum-subtotal"><br>{{total}}</td>
            </tr>
            

          </tbody>

          </table>
          <br>
          <table >
            <tr>
              <td colspan="2"   class="text-size"><div style="border:1px solid black; padding: 5px;"><b>Codigo de Control: {{codigo_control}}</b></div></td>
              <td rowspan="2" align="center"><img  src="media/codigo/QQRR.png" style="zoom: 25%;" /></td>
            </tr>
            <tr >
              <td colspan="2" class="text-size"><div style="border:1px solid black; padding: 5px;"><b>Fecha limite de emisión : {{fecha_limite|date:'SHORT_DATE_FORMAT'}}</b></div></td>

            </tr>
          </table>
          <br>
          <br>
          <div style="border:1px solid black; padding: 5px; text-align:center;">
            "ESTA FACTURA CONTRIBUYE AL DESARROLLO DEL PAÍS. EL USO ILÍCITO DE ÉSTA SERÁ SANCIONADO DE ACUERDO A LEY"<br>
            {{formato.frases_pie}}
          </div>
         
                </div>
                
              </div>
            </div>
            
             <div class="invoice-footer">
           
            </div>
            
          </div>
        </div>
        <!--end container-->
</section>



</body>
</html>