{% extends 'base.html' %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}
{% block content %}
<section id="content">	
 <div class="container">
    <h3>Reporte de ventas  </h3>
  <div class="row" id="formulario-buscar">
    <form class="col s12" action="/reporte_venta/" method='POST'>{% csrf_token %}
      <h4 class="header2">Periodo</h4>
      <div class="row">
        <div class="input-field col s4">
          <i class="mdi-editor-insert-invitation prefix active"></i>
          <input class="datepicker" name='date1' placeholder="0000-00-00" id="icon_prefix2" type="text" class="validate">
          <label for="icon_prefix" class="active">Desde</label>
        </div>
        <div class="input-field col s4">
          <i class="mdi-editor-insert-invitation prefix active"></i>
          <input class="datepicker" name='date2' placeholder="0000-00-00" id="icon_email" type="email" class="validate">
          <label for="icon_email" class="active">Hasta</label>
        </div>
        <div class="input-field col s4">
          <div class="input-field col s12">
            <button class="btn cyan waves-effect waves-light" type="submit" name="action"><i class="mdi-action-search left"></i> Buscar</button>
          </div>
        </div>
      </div>
    </form>
    </div>
                  
	

    {% if  ex %}
    	<table class='table'>
    		<thead>
          <th>Razon social</th>
    			<th>Nit</th>
          <th>Fecha</th>
          <th>Monto</th>
    			<th>Tipo venta</th>
          <th>Detalle</th>
    		</thead>
    		<tbody>
    		{%  for venta in ventas %}
          <tr>
              <td>{{venta.razon_social}}</td>
              <td>{{venta.nit}}</td>
              <td>{{venta.fecha}}</td>
              <td>{{venta.total}}</td>
              <td>{{venta.tipo_compra}}</td>
              <td>
                <a  href="#modal{{venta.id}}" class="btn-floating waves-effect tooltipped  modal-trigger teal waves-light " data-position="top" data-delay="50" data-tooltip="Detalle"><i class="mdi-action-search left" id="{{ venta.id }}"></i></a>
              </td>
              {% block js %}
  

                <script>
                  $('#{{ venta.id }}').on('click', function () {
                    console.log('esto es modalllllllllll {{ venta.id }}');
                      $.ajax({
                        url: '/rep_ventadet/',
                        dataType: "json",
                        data: {'id':'{{ venta.id }}'},
                        success: function (data, textStatus, jqXHR) {
                            console.log('detallessss');
                            console.log(data);

                            var div = $('#content{{ venta.id }}');
                            var table = div.children();
                          
                            if (table.length == 0){

                            div.append('<table class="table">');
                            div.append('<thead>');
                            div.append('<th>Cod Item</th>');
                            div.append('<th>Cantidad</th>');
                            div.append('<th>Unidad</th>');
                            div.append('<th>Detalle</th>');
                            div.append('<th>P.U.</th>');
                            div.append('<th>Total</th>');
                            div.append('<th>Desc</th>');
                            div.append('<th>Recargos</th>');
                            div.append('<th>ICE</th>');
                            div.append('<th>Excentos</th>');
                            div.append('<th>SDF</th>');
                            div.append('</thead>');
                            div.append('<tbody>');
                            for(i=0;i<data.length;i++){
                                div.append('<tr>');
                             
                                  div.append('<td>' + data[i].fields.item[0] + '</td>');
                                  div.append('<td>' + data[i].fields.cantidad + '</td>');
                                  div.append('<td>' + data[i].fields.item[3] + '</td>');
                                  div.append('<td>' + data[i].fields.item[1] + '</td>');
                                  div.append('<td>' + data[i].fields.item[2] + '</td>');
                                  div.append('<td>' + data[i].fields.subtotal + '</td>');
                                  div.append('<td>' + data[i].fields.descuento + '</td>');
                                  div.append('<td>' + data[i].fields.recargo + '</td>');
                                  div.append('<td>' + data[i].fields.ice + '</td>');
                                  div.append('<td>' + data[i].fields.excentos + '</td>');
                                  div.append('<td>' + data[i].fields.scf + '</td>');

                                div.append('</tr>');

                            }
                            div.append('</tbody>');

                            div.append('</table>');
                          }
                            
                        },
                    });
                  });
                </script>
                {% endblock js %}
                <div id="modal{{venta.id}}" class="modal" style="display: none; opacity: 1; top: 0px;">
                  <div class="modal-content" id="content{{ venta.id }}">
                      
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cerrar</a>
                  </div>
                </div>
           
          </tr>
                
    		{% endfor %}
                <tr>
                    <td colspan=2></td>
                    <td>Total General:</td>
                    <td>{{total}}</td>
                </tr>
    		</tbody>
        </table>    
    {% else %}
      <h3>No se encontraron resultados!</h3>
    {% endif %}
  </div>
   <div class="invoice-footer">
              <div class="row">
                
                <div class="col s12 m6 l6 center-align">
                
                </div>
                <div class="input-field col s12 m6 l6">

                   <a class="btn btn-floating-action btn-primary cyan print" href="javascript:void(0);" onclick="javascript:window.print();" id="print"><i class="mdi-action-print left"></i>  imprimir</a>
                <p>
                 
                  </p>
                </div>
              </div>
            </div>
</section>
{% endblock content %}


