
{% extends 'base.html' %}
{% load report_filter %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}
{% block content %}

<section id="content">	
 <div class="container">
    <h3>Reporte de ventas  </h3>
  <div class="row" id="formulario-buscar">
    <form class="col s12" action="/reporte_venta/" method='POST'>{% csrf_token %}
      {% if valid%}
      <div class="alert alert-danger" role="alert">
        <span>Ingrese las fechas para que pueda hacer la consulta</span>
      </div>
      {% endif %}
      <h4 class="header2">Periodo</h4>
      <div class="row">
        <div class="input-field col s4">
          <i class="mdi-editor-insert-invitation prefix active"></i>
          <input class="datepicker" value="{{date1}}" name='date1' placeholder="0000-00-00" id="icon_prefix2" type="text" class="validate">
          <label for="icon_prefix" class="active">Desde</label>
        </div>
        <div class="input-field col s4">
          <i class="mdi-editor-insert-invitation prefix active"></i>
          <input class="datepicker" value="{{date2}}" name='date2' placeholder="0000-00-00" id="icon_email" type="email" class="validate">
          <label for="icon_email" class="active">Hasta</label>
        </div>
       
      </div>
       <h4 class="header2">Filtrar</h4>
      <div class="row">
        <div class="input-field col s3">
          <i class="mdi-social-location-city prefix active"></i>
          <input  name='empresa'  id="empresa" type="text" class="validate">
          <input  name='empresa2'  id="empresa2" type="hidden" >
          <label for="icon_prefix" class="active empresa_label">Empresa</label>
        </div>
        <div class="input-field col s3">
          <i class="mdi-notification-event-note prefix active"></i>
          <input name='nit'  id="nit" type="text" class="validate">
          <input name='nit2'  id="nit2" type="hidden" class="validate">

          <label for="icon_email" class="active nit_label">NIT</label>
        </div>
        <!-- <div class="input-field col s2">
          <i class="mdi-editor-attach-money prefix active"></i>
          <input  name='monto'  id="monto" type="text" >
          <input  name='monto2'  id="monto2" type="hidden" >

          <label for="icon_email" class="active">MONTO</label>
        </div> -->
        <div class="input-field col s2">
          
          <select name="tipo_venta" id="" class="validate">
            <option value="todo">Seleccionar</option>
            <option value="contado">Contado</option>
            <option value="credito">Credito</option>
          </select>
          <label for="icon_email">TIPO DE VENTA</label>
        </div>
        <div class="input-field col s3">
          <div class="input-field col s12">
            <button class="btn cyan waves-effect waves-light" type="submit" name="action"><i class="mdi-action-search left"></i> Buscar</button>
          </div>
        </div>
      </div>
    </form>
    </div>
                  
	   {% for doc in ventas %}
        {% for docimage in doc.detalleventa.all %}
          {{ docimage.precio_unitario }}
        {% endfor %}
        
      {% endfor %}

    {% if  ex %}
    	<table class='table' id="tabla">
    		<thead>
          <th>Razon social</th>
          <th>Detalle</th>
    			<th>Nit</th>
          <th>Fecha</th>
          <th>Monto</th>
    			<th>Tipo venta</th>
          <!-- <th class="reporte">Detalle</th> -->
          <th class="reporte">Imprimir</th>
          <th class="reporte">Pago</th>
    		</thead>
    		<tbody>
    		{%  for venta in ventas %}
          <tr class="{{venta.venta.pk}}">
              <td>{{venta.venta.razon_social}}</td>
              <td>{{venta.item.descripcion}}</td>
              <td>{{venta.venta.nit}}</td>
              <td>{{venta.venta.fecha}}</td>
              <td>
                {% if venta.venta.tipo_compra == 'credito' %}
                  {% resta venta.venta.total  venta.venta.monto_pago %}
                {%else%}
                  {% widthratio venta.cantidad 1 venta.precio_unitario %}
                {%endif%}
              </td>
              <td>{{venta.venta.tipo_compra}}</td>

              <!-- <td class="reporte">
                <a  href="#modal{{venta.id}}" class="btn-floating waves-effect tooltipped  modal-trigger teal waves-light " data-position="top" data-delay="50" data-tooltip="Detalle"><i class="mdi-action-search left" id="{{ venta.id }}"></i></a>
              </td> -->
             

                
             
            <td class="reporte"><a  href="/rep_detalle_venta/{{ venta.venta.pk }}" target="_blank" class="btn-floating waves-effect tooltipped  orange waves-light " data-position="top" data-delay="50" data-tooltip="Imprimir"><i class="mdi-action-print" ></i></a></td>
            <td class="reporte">
              {% if venta.venta.tipo_compra == 'credito' %}
              {% dias venta.venta.fecha_vencimiento %}
              dias
              <a  href="#modal{{venta.id}}"  class="btn-floating waves-effect tooltipped modal-trigger light-green waves-light " data-position="top" data-delay="50" data-tooltip="Pago"><i class="mdi-editor-attach-money" ></i></a>
               <div id="modal{{venta.id}}" class="modal" style="display: none; opacity: 1; top: 0px;">

                  <div  id="content{{ venta.id }}">
                      <form class="col s12 m12 l8 offset-l2" target="_blank" action="/create_pago/"  method="POST" enctype='multipart/form-data'>
                        <div class="modal-content">
                        <h4 class="header2">Ingrese monto a cancelar</h4>
                          {% csrf_token %} 

                            <div class="row">
                              <div class="input-field col s6">
                                <input type="text" name="monto">
                                <input type="hidden" name="venta" value="{{venta.venta.id}}">
                                <label for="emails">Monto</label>
                              </div>

                              <div class="input-field col s6">
                                <button  class="btn cyan waves-effect modal-close waves-light right" type="submit" name="action">Guardar
                                  <i class="mdi-content-send right"></i>
                                </button>
                              </div>
                            </div>
                        </div>
                                 
                    </form>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cerrar</a>
                  </div>
                </div>
                {% else %}
                0
              {%endif%}
            </td>
          </tr>
                
    		{% endfor %}
                <tr>
                    <td colspan=3></td>
                    <td>Total General:</td>
                    <td>{{total}}</td>
                </tr>
    		</tbody>
        </table>    
    {% else %}
      <h3>No se encontraron resultados!</h3>
    {% endif %}
  </div>
   <div class="invoice-footer">
              <div class="row">
                
                <div class="col s12 m6 l6 center-align">
                
                </div>
                <div class="input-field col s12 m6 l6">

                   <a class="btn btn-floating-action btn-primary cyan print" href="javascript:void(0);" onclick="javascript:window.print();" id="print"><i class="mdi-action-print left"></i>  imprimir</a>
                <p>
                 
                  </p>
                </div>
              </div>
            </div>
</section>
{% endblock content %}
{% block js %}
   <script>
   function autoRefresh1()
    {
         window.location.reload();
    }
     
     
   $( ".modal-close" ).click(function() {
        
         setInterval('autoRefresh1()', 1000);
    });

   var $monto = $('#monto, #monto2').keyup(function() {
    $monto.not(this).val(this.value);
    });

   

   $('#empresa').on('blur keyup', function() {
                if ($("#empresa").val()=='') {
                    $('#nit').prop('disabled', false); 
                    $('#monto').prop('disabled', false); 
                    $( "#nit" ).val('');
                    $(".nit_label").removeClass('active');
                } else {
                    $('#nit').prop('disabled', 'disabled');
                    $('#monto').prop('disabled', 'disabled');
                }
    });

    $('#nit').on('blur keyup', function() {
                if ($("#nit").val()=='') {
                    $('#empresa').prop('disabled', false);  
                    $('#monto').prop('disabled', false); 
                } else {
                    $('#empresa').prop('disabled', 'disabled');
                    $('#monto').prop('disabled', 'disabled');
                }
    });
    $('#monto').on('blur keyup', function() {
                if ($("#monto").val()=='') {
                    $('#empresa').prop('disabled', false);
                    $('#nit').prop('disabled', false);    
                } else {
                    $('#empresa').prop('disabled', 'disabled');
                    $('#nit').prop('disabled', 'disabled');
                }
    });

     $( "#empresa" ).autocomplete({

      source: function( request, response ) {
        console.log('estamos en JQUERY');
        console.log(request);

        $.ajax({
          url: "/buscar_empresa/",
          dataType: "json",
          data: {'id':request.term},
          success: function( data ) {
           console.log(data);
           response($.map(data, function (pn) {
            
            return {
              pk_id_item: pn.fields.pk,
              razon_social: pn.fields.razon_social,
              nit: pn.fields.nit,
              label: pn.fields.razon_social
            };

          }));
       }
   });
    },
    minLength: 2,       
    select: function( event, ui ) {
      console.log(ui);
      $( "#empresa2" ).val(ui.item.razon_social);
 
      $( "#nit" ).val(ui.item.nit);
      // $( "#nit2" ).val(ui.item.nit);
      $(".nit_label").addClass('active');
    }
});

  $( "#nit" ).autocomplete({

      source: function( request, response ) {
        console.log('estamos en JQUERY');
        console.log(request);

        $.ajax({
          url: "/buscar_empresa/",
          dataType: "json",
          data: {'id':request.term},
          success: function( data ) {
           console.log(data);
           response($.map(data, function (pn) {
            
            return {
              pk_id_item: pn.fields.pk,
              razon_social: pn.fields.razon_social,
              nit: pn.fields.nit,
              label: pn.fields.nit
            };

          }));
       }
   });
    },
    minLength: 2,       
    select: function( event, ui ) {
      console.log(ui);
     
      $( "#empresa" ).val(ui.item.razon_social);
      $( "#nit2" ).val(ui.item.nit);
      $(".empresa_label").addClass('active');
    }
});

  $("#tabla tbody tr").each(function (index) 
  {
    console.log($(this).find('tr').attr('class'));

  });
   </script> 
{% endblock js %}


