{% extends "base.html" %}
{% block titulo %}
    Ebil
{% endblock titulo %}
{% block content %}


   <div class="row">
            <div class="col s12 m12 l8 offset-l2">
              <div class="card-panel">
                <h4 class="header2">Proveedor</h4>
                <div class="row">
                  <form class="col s12" method="post">
                    {% csrf_token %}
                  
                    <div class="row">
                    	<div class="col s6">
                    	{{ form.codigo.label }}
                    	{{ form.codigo }}
                    	{{ form.errors.codigo }}
                    	</div>
                    	<div class="col s6">
                    	{{ form.razon_social.label }}
                    	{{ form.razon_social }}
                    	{{ form.errors.razon_social }}
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col s6">
                    	{{ form.nit.label }}
                    	{{ form.nit }}
                    	{{ form.errors.nit }}
                    	</div>
                    	<div class="col s6">
                    	{{ form.direccion.label }}
                    	{{ form.direccion }}
                    	{{ form.errors.direccion }}
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col s6">
                    	{{ form.telefono1.label }}
                    	{{ form.telefono1 }}
                    	{{ form.errors.telefono1 }}
                    	</div>
                    	<div class="col s6">
                    	{{ form.telefono2.label }}
                    	{{ form.telefono2 }}
                    	{{ form.errors.telefono2 }}
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col s6">
                    	{{ form.telefono3.label }}
                    	{{ form.telefono3 }}
                    	{{ form.errors.telefono3 }}
                    	</div>
                    	<div class="col s6">
                    	{{ form.contactos.label }}
                    	{{ form.contactos }}
                    	{{ form.errors.contactos }}
                    	</div>
                    </div>


                    <div class="row">
                    	<div class="col s6">
                    	{{ form.rubro.label }}
                    	{{ form.rubro }}
                    	{{ form.errors.rubro }}
                    	</div>
                    	<div class="col s6">
                    	{{ form.ubicacion_geo.label }}
                    	{{ form.ubicacion_geo }}
                    	{{ form.errors.ubicacion_geo }}
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col s6">
                    	{{ form.fecha1.label }}
                    	{{ form.fecha1 }}
                    	{{ form.errors.fecha1 }}
                    	</div>
                    	<div class="col s6">
                    	{{ form.fecha2.label }}
                    	{{ form.fecha2 }}
                    	{{ form.errors.fecha2 }}
                    	</div>
                    </div>
                    <div class="row">
                    	<div class="col s6">
                    	{{ form.texto1.label }}
                    	{{ form.texto1 }}
                    	{{ form.errors.texto1 }}
                    	</div>
                    	<div class="col s6">
                    	{{ form.texto2.label }}
                    	{{ form.texto2 }}
                    	{{ form.errors.texto2 }}
                    	</div>
                    </div>

              
                    <div class="row">
                     
                      <div class="row">
                        <div class="input-field col s12">
                          <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                            <i class="mdi-content-send right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
 {% endblock %}