{% extends "base.html" %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}
{% block content %}
<section id="content">
<div id="chart-dashboard">  
   <div class="row">
   	
   		<div class="card-panel">
			<div class="card-content"> 
	            	<div class='col s12 m8 l3'>
		            	<span class="title">codigo</span>
	                    <p>{{object.codigo}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">razon_social</span>
	                    <p>{{object.razon_social}}
	                      <br>
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">nit</span>
	                    <p>{{object.nit}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">direccion</span>
	                    <p>{{object.direccion}}
	                      <br> 
	                    </p>
		            </div>
					<div class='col s12 m8 l3'>
		            	<span class="title">telefono1</span>
	                    <p>{{object.telefono1}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">telefono2</span>
	                    <p>{{object.telefono2}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">telefono3</span>
	                    <p>{{object.telefono3}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">contactos</span>
	                    <p>{{object.contactos}}
	                      <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">ubicacion_geo</span>
	                    <p>{{object.ubicacion_geo}}
	                      <br> 
	                    </p>
		            </div>
					<div class='col s12 m8 l3'>
		            	<span class="title">fecha1</span>
	                    <p>{{object.fecha1}}
	                    <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">fecha2</span>
	                    <p>{{object.fecha2}}
	                    <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">texto1</span>
	                    <p>{{object.texto1}}
	                    <br> 
	                    </p>
		            </div>
		            <div class='col s12 m8 l3'>
		            	<span class="title">texto2</span>
	                    <p>{{object.texto2}}
	                    <br> 
	                    </p>
		            </div>	
        		</div>
        </div>
    </div>
    
	
	  {{ object.codigo }}
	  {{ object.razon_social }}
	  {{ object.nit }}
	  {{ object.direccion }}
	  {{ object.telefono1 }}  	
</div> 
</section>
{% endblock content %}