

{% extends "base.html" %}

{% block titulo %}
    Ebil
{% endblock titulo %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}
{% block content %}
<section id="content">
        <!--start container-->
        <div class="container">
          <div id="invoice">
            <div class="invoice-header">
              <div class="row">
                <br>
                <div class="col s4 push-s8 alinear_cabecera">
                  <ul>
                    <li>EVEREST</li>
                    <li>CALLE ESTEBAN ARCE</li>
                    <li>Telf.: 4556605</li>
                  </ul>
                </div>
                <div class="col s4 pull-s4 alinear_cabecera">
                  <ul>
                    <li>NOTA DE VENTA</li>
                    <li>{{tipo_compra|upper}}</li>
                   
                  </ul>
                </div>
                <div class="col s4 alinear_cabecera">
                    <ul>
                      <li>Fecha: {{fecha}}</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row">
                <div class="col s12 m6 l6">
                
                <ul>
                  <li>Nit: {{nit}}</li>
                  <li>Razon social: {{razon_social}}</li>
                  <li>Fecha: {{fecha}}</li>
                </ul>
              
                  
                </div>

                <div class="col s12 m6 l3">
                    
                  <div class="input-field texto-center" id="input-credito">
                    <label></label>
                  </div>
                  
                </div>
                </div>
              </div>
            </div>


            <div class="invoice-table">
              <div class="row">
                <div class="col s12 m12 l12">

					
					<table class="striped" id="tb-detalle">
					<thead>
					  <tr>
					    <th data-field="item">Cod Item</th>
					    <th data-field="item">Cantidad</th>
					    <th data-field="item">Unidad</th>
					    <th data-field="item">Detalle</th>
					    <th data-field="uprice">P. U.</th>
					    
					    <th data-field="price">Total</th>
					    <th>Descuentos</th>
					    <th>Recargos</th>
					    <th>ICE</th>
					    <th>Excentos</th>
					    <th>Sujeto a DF</th>
					  </tr>
					</thead>
					<tbody>
						{%  for d in detalle %}
						<tr>
							<td>{{d.item.codigo_item}}</td>
							<td>{{d.cantidad}}</td>
							<td>{{d.item.unidad_medida}}</td>
							<td>{{d.item.descripcion}}</td>
							<td>{{d.item.precio_unitario}}</td>
							<td>{{d.subtotal}}</td>
							<td>{{d.descuento}} 
                {% if not d.descuento == 0 %}
                  {{d.tipo_descuento}}
                {% endif %}
              </td>
							<td>{{d.recargo}} 
                {% if not d.recargo == 0 %}
                  {{d.tipo_recargo}}
                {% endif %}
                
              </td>
							<td>{{d.ice}}</td>
							<td>{{d.excentos}}</td>
							<td>{{d.scf}}</td>
						</tr>
						{% endfor %}
					  <tr>
					    <td colspan="9" class="white"></td>
					    <td class="">Total:</td>
					    <td class="" id="sum-subtotal">{{total}}</td>
					  </tr>
					</tbody>
					</table>
                </div>
                
              </div>
            </div>
            
             <div class="invoice-footer">
              <div class="row">
                
                <div class="col s12 m6 l6 center-align">
                <p>
                 <a href="/ventas" class="btn light-green waves-effect waves-light right print" ><i class="mdi-content-undo left"></i> Volver  Atras</a>
                 </p>
                </div>
                <div class="input-field col s12 m6 l6">

                   <a class="btn btn-floating-action btn-primary cyan print" href="javascript:void(0);" onclick="javascript:window.print();" id="print"><i class="mdi-action-print left"></i>  imprimir</a>
                <p>
                 
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!--end container-->
</section>
{% endblock content %}
