
{% extends "base.html" %}

{% block titulo %}
    Ebil
{% endblock titulo %}
{% block menu %}
    {% include "menu.html" %}
{% endblock menu %}
{% block content %}

<section id="content">
        <!--start container-->
        <div class="container">
          <div id="invoice">
            <div class="invoice-header">
              <div class="row section">
              <form id="encabezado">
                <div class="col s12 m6 l4">
                <div class="input-field col s7 has-error">
                  <input id="add_nit" name="add_nit" type="number" class="EntTab">
                  <label>Nit</label>
                </div>
                <div class="input-field col s7 has-error">
                  <input id="add_razon"  name="add_razon" type="text" class="EntTab">
                  <label>Razon social</label>
                </div>
      
                <div class="input-field col s7 has-error">
                  <input id="add_fecha"  name="add_fecha" type="text" class="datepicker EntTab">
                  <label>Fecha</label>
                </div>
              
                  
                </div>
                <div class="col s12 m6 l4">
                  <div class="row input-descuento">
                    <div class="col s12 m6 l5">
                      <div class="input-field col s12 has-error">
                        <input id="add_descuentoc"  name="add_descuentoc" type="number" value="0">
                        <label>Descuentos</label>
                      </div>
                    </div>
                    <div class="col s12 m6 l4">
                      <div class="input-field col s6 has-error">
                          <input class="with-gap" name="tipo_descuentoc" type="radio" id="test1" value="Bs" checked>
                          <label for="test1">Bs</label>
                      </div>
                      <div class="input-field col s6 has-error">
                          <input class="with-gap" name="tipo_descuentoc" type="radio" value="%" id="test2">
                          <label for="test2">%</label>
                      </div>
                    </div>
                  </div>
                  <div class="row input-recargo">
                    <div class="col s12 m6 l5">
                      <div class="input-field col s12 has-error">
                        <input id="add_recargoc"  name="add_recargoc" type="number" value="0">
                        <label>Recargos</label>
                      </div>
                    </div>
                    <div class="col s12 m6 l4">
                      <div class="input-field col s6 has-error">
                          <input class="with-gap" name="tipo_recargoc" type="radio" id="teste1" value="Bs" checked>
                          <label for="teste1">Bs</label>
                      </div>
                      <div class="input-field col s6 has-error">
                          <input class="with-gap" name="tipo_recargoc" type="radio" value="%" id="teste2">
                          <label for="teste2">%</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12 m6 l5 input-ice">
                      <div class="input-field col s12 has-error">
                        <input id="add_icec"  name="add_icec" type="number" value="0">
                        <label>ICE</label>
                      </div>
                    </div>
                    <div class="col s12 m6 l5 input-excento">
                      <div class="input-field col s12 has-error">
                        <input id="add_exentosc"  name="add_exentosc" type="number" value="0">
                        <label>Exentos</label>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col s12 m6 l3">
                  <div class="input-tipo">
                    <div class="texto-center">
                      <span>TIPO DE VENTA</span>
                    </div>
                    
                   <div class="switch texto-center">
                    
                    <label>
                      Contado
                      <input type="checkbox" id="add_tipo">
                      <span class="lever"></span> Credito
                    </label>

                  </div>
                  </div>
                  <div class="input-field texto-center" id="input-credito">
                    <input id="dias" maxlength="10" name="dias" type="text">
                    <label>Dias</label>
                  </div>
                  <div class="input-field ">
                    <select id="movimiento" name="movimiento" >
                      <option value="facturar">Facturar</option>
                      <option value="baja">Baja</option>
                      <option value="proforma">Proforma</option>
                    </select>
                    <label>Movimiento</label>
                  </div>
                  
                </div>
                </form>
                </div>
              </div>
            </div>

            <div class="invoice-lable">
              <div class="row cyan">
                <table id="table-product" class="table" border="1">
            <thead>
              <tr>
                <th>Buscar Item</th>
                <th>Stock</th>
                <th>Detalle</th>
                <th>Codigo item</th>
                <th>Unidad</th>
                <th>Precio unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Descuentos</th>
                <th>Recargos</th>
                <th>ICE</th>
                <th>Exentos</th>
                <th>Sujeto a CF</th>
                <th>Agregar</th>
              </tr>
            </thead>
            <tbody class="product-instances">
          
              <tr height="59%">
                <td width="12%">
                
                <div class="input-field-group">
                  <input id="add_buscar_item" name="add_buscar_item" type="text">
                  <label for="search" class=""><i class="mdi-action-search"></i>
                  </label>
                </div>
                </td>
                <td>
                  
                  <div id="circle">
                    <span id="stock"></span>
                  </div>


                  <input type="hidden" id="stock_add">
                 
                </td>
                <td width="10%"><input type="text" id="add_detalle" class="form-control add_disable"></td>

                <td width="10%">
                <input type="text" id="add_codigo_item" class="form-control add_disable">
                <input type="hidden" id="pk">
                </td>
                <td width="7%"><input type="text" id="add_unidad" class="form-control add_disable"></td>
                <td width="10%"><input type="text" value="0" id="add_precio_unitario" class="form-control add_disable"></td>
                <td width="7%"><input type="text" value="0" id="add_cantidad" class="form-control add_calculo_totales_down"></td>
                <td width="7%"><input type="text" value="0" id="add_total" class="form-control add_total"></td>
                <td width="7%" rowspan="2">
                  <input type="number" id="add_descuento" value="0" class="form-control add_calculo_totales_down">
                  <select name="add_costos" id="add_fk_id_formato_dato_descuento" class="add_calculo_totales">
                    <option value="">Bs</option>
                    <option value="475">%</option>
                  </select>
                </td>
                <td width="7%" rowspan="2">
                <input type="number" id="add_recargo" value="0" class="form-control add_calculo_totales_down">
                <select name="add_costos" id="add_fk_id_formato_dato_recargo" class="add_calculo_totales">
                    <option value="">Bs</option>
                    <option value="475">%</option>
                </select>
                </td>
                <td width="7%"><input type="number" id="add_ice" value="0" class="form-control add_calculo_totales_down"></td>
                <td width="7%"><input type="number" id="add_exentos" value="0" class="form-control add_calculo_totales_down"></td>
                <td width="7%"><input type="text" id="add_sujeto_credito_fiscal" class="form-control add_scf"></td>
                
                <td>
                  <a  class="btn waves-effect orange waves-light" onclick="agregarDetalle();"><i class="mdi-content-add left"></i>Agregar</a>
                 
                </td>
              </tr >
              <tr >
                <td colspan="5">  </td>
                <td>  </td>
              </tr>
          
            </tbody>

          </table>
              </div>
            </div>

            <div class="invoice-table">
              <div class="row">
                <div class="col s12 m12 l12">
                  <table class="striped" id="tb-detalle">
                    <thead>
                      <tr>
                        <th data-field="no">No</th>
                        <th data-field="item">Cod Item</th>
                        <th data-field="item">Cantidad</th>
                        <th data-field="item">Unidad</th>
                        <th data-field="item">Detalle</th>
                        <th data-field="uprice">P. U.</th>
                        
                        <th data-field="price">Total</th>
                        <th>Descuentos</th>
                        <th>Recargos</th>
                        <th>ICE</th>
                        <th>Excentos</th>
                        <th>Sujeto a DF</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    
                      <tr>
                        <td colspan="10" class="white"></td>
                        <td class="cyan white-text">Total:</td>
                        <td class="cyan white-text" id="sum-subtotal">0.00</td>
                      </tr>
                     <!--  <tr>
                        <td colspan="10" class="white"></td>
                        <td>Service Tax</td>
                        <td>11.00</td>
                      </tr>
                      <tr>
                        <td colspan="10" class="white"></td>
                        <td class="cyan white-text">Grand Total</td>
                        <td class="cyan strong white-text">5,871.90</td>
                      </tr> -->
                    </tbody>
                  </table>
                 
                </div>
                
              </div>
            </div>
            
             <div class="invoice-footer">
              <div class="row">
                <div class="input-field col s12 m6 l6">
                <form action="/ventas/" method="post" id="post_form" onsubmit="onEnviar()" >
                        {% csrf_token %}
                        <input id="proceso" name="proceso" type="hidden" />
                        <div class="row">
                        <div class="col s12 m6 l6">
                          
                          <button class="btn cyan waves-effect waves-light right"  name="action" id="save">Guardar
                          <i class="mdi-content-save right"></i>
                          </button>
                        </div>
                        
                        </div>

                    </form>
                <p>
                 
                  </p>
                </div>
                <div class="col s12 m6 l6 center-align">
                <p>
                 <a href="/listar_item" class="btn light-green waves-effect waves-light right"><i class="mdi-content-undo left"></i> Volver  Atras</a>
                 </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!--end container-->
</section>
{% endblock content %}

{% block js %}
  {% load staticfiles %}
  <script src="{% static "js/apps/ventas.js"%}"></script>
  <script>
    function popup(url, pk){
        win=window.open(url,pk,
                'height=500,width=800,resizable=yes,scrollbars=yes');
        win.focus();
        
        return false;
      }
    {% if popup %}
      popup("/detalle_venta/"+{{pk}}, {{pk}});
    {% endif %}
                
  </script>
  
{% endblock js %}