{% extends "base.html" %}

{% block titulo %}
Ebil
{% endblock titulo %}
{% block menu %}
{% include "menu.html" %}
{% endblock menu %}
{% block content %}
{% load widget_tweaks %}

<section id="content">
  <div class="row">
    <form class="col s12 m12 l8 offset-l2"  method="POST" enctype='multipart/form-data'>
      <div class="card-panel">
        <h3 class="header2">Detalla Bancarizacion</h3>
        <div class="row">
          {% csrf_token %} 

          <div class="row">
            <div class="input-field col s6 has-error">
              <input disabled type="text" value="{{bancarizacion.compra_fecha}}">
              <label for="emails">Compra fecha</label>
            </div>
          <div class="input-field col s6 has-error">
            <input disabled type="text" value="{{bancarizacion.modalidad_d_la_transaccion}}">
              <label for="emails">modalidad_d_la_transaccion</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6 has-error">
           <input disabled type="text" value="{{bancarizacion.nro_de_cta_doc_de_pago}}">
            <label for="emails">nro de cta de documento pago</label>
        </div>
        <div class="input-field col s6 has-error">
          <input disabled type="text" value="{{bancarizacion.fecha_fact_dui_fecha_doc}}">
            <label for="emails">fecha_fact_dui_fecha_doc</label>
        </div>
      </div>
      
      <div class="row">

        <div class="input-field col s6 has-error">
         <input disabled type="text" value="{{bancarizacion.monto_pagado_en_doc_d_pago}}">
          <label for="emails">monto_pagado_en_doc_d_pago</label>
        </div>
        <div class="input-field col s6 has-error">
          <input disabled type="text" value="{{bancarizacion.tipo_transaccion}}">
            <label for="emails">tipo_transaccion</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 has-error">
         <input disabled type="text" value="{{bancarizacion.monto_acumulado}}">
          <label for="emails">monto_acumulado</label>
        </div>
        <div class="input-field col s6 has-error">
          <input disabled type="text" value="{{bancarizacion.nit_proveedor}}">
            <label for="emails">nit_proveedor</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 has-error">
         <input disabled type="text" value="{{bancarizacion.nit_entidad_inanciera}}">
          <label for="emails">nit_entidad_inanciera</label>
        </div>
        <div class="input-field col s6 has-error">
          <input disabled type="text" value="{{bancarizacion.razon_social_proveedor}}">
            <label for="emails">razon_social_proveedor</label>
        </div>
      </div>

       <div class="row">
          <div class="input-field col s6 has-error">
           <input disabled type="text" value="{{bancarizacion.nro_d_documento_de_pago}}">
            <label for="emails">nro_d_documento_de_pago</label>
        </div>
        <div class="input-field col s6 has-error">
          <input disabled type="text" value="{{bancarizacion.nro_d_fact_dui_nro_doc}}">
            <label for="emails">nro_d_fact_dui_nro_doc</label>
        </div>
      </div>

       <div class="row">
        <div class="input-field col s6 has-error">
          <input disabled type="text" value="{{bancarizacion.tipo_de_doc_d_pago}}">
          <label for="emails">tipo_de_doc_d_pago</label>
        </div>
         <div class="input-field col s6 has-error">
          <input disabled type="text" value="{{bancarizacion.tipo_de_documento}}">
            <label for="emails">tipo_de_documento</label>
        </div>
      </div>
       <div class="row">
          <div class="input-field col s6 has-error">
            <input disabled type="text" value="{{bancarizacion.monto_fact_monto_dui_monto_doc}}">
              <label for="emails">monto_fact_monto_dui_monto_doc</label>
          </div>

          <div class="input-field col s6 has-error">
           <input disabled type="text" value="{{bancarizacion.fecha_d_documento_d_pago}}">
            <label for="emails">fecha_d_documento_d_pago</label>
        </div>

      </div>
       <div class="row">
          <div class="input-field col s6 has-error">
            <input disabled type="text" value="{{bancarizacion.nro_de_aut_fact_dui_documento}}">
              <label for="emails">nro_de_aut_fact_dui_documento</label>
          </div>
      </div>


  </div>
<div class="row">                   
  <div class="col s12 m6 l6 center-align">
    <a href="/listar_Bancarizacion" class="btn light-green waves-effect waves-light right"><i class="mdi-content-undo left"></i> Volver  Atras</a>
    <p>
    </p>
  </div>
</div>
</div>

</div>
</form>
</div>
</section>
{% endblock %}

