<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block titulo %}{% endblock titulo %}</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/materialize.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/page-center.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/prism.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	<link rel="stylesheet" href="">
</head>
<body>
	{% block content %}
	{% endblock content %}
</body>
</html>