<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
  <style>
   .center-text{
    text-align:center;
   }
   .text-size{
    font-size: 14px;
   }

   hr {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b !important;
  }
   
  @page {
    margin: 1cm;
    margin-right: 12cm;
    
    size: 7cm;
  }

  /*@page {
    margin: 0.5cm;
    
    size: 7cm, 40cm;
  }*/

  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class=' center-text text-size'>

        <span>EVEREST</span>
        <span>NOTA DE VENTA</span>
        <h3>{{tipo_compra|upper}}</h3>
        <h6>COCHABAMBA - BOLIVIA</h6>
        .................................................................
        
        <h3>NIT: 1028627025<h3>
        <h3>NOTA NRO: <h3>
        ............................................................
   
        <h3>Fecha: {{fecha|date:'SHORT_DATE_FORMAT'}}</h3>
        <h3>SR.(ES): {{razon_social}}</h3>
        <h3>NIT/CI: {{nit}}</h3>
        ................................................................
        
       
          <table>
            <thead>
              <tr>
                <th>Cant</th>
                <th>Descripcion</th>
                <th>P/U.</th>
                <th>Subtot</th>
              </tr>
            </thead>
            <tbody>
             {%  for d in detalle %}
              <tr>
                <td>{{d.cantidad}}</td>
                <td>{{d.item.descripcion|truncatechars:20}}</td>
                <td>{{d.item.precio_unitario}}</td>
                <td>{{d.subtotal}}</td>
              </tr>
              {% endfor %}
              <tr>
              <td></td>
              <td></td>
              <td>Total</td>
              <td >{{total}}</td>
              </tr>
            </tbody>
          </table>

      </div>
    
    </div>  
  </div>
</body>
</html>